---

configure_nginx:{{configure_nginx  }}
nginx_user: {{ nginx_user }}
nginx_worker_processes: {{ nginx_worker_processes }}
enable_ssl: {{ enable_ssl }}
server_port: {{ server_port }}
nginx_port: {{ nginx_port }}